.home {
  background-image: url('https://res.cloudinary.com/dxauist1a/image/upload/v1698733081/Image_s4gcmz.png');
  height: 40vh;
}

.back-cont {
  background-color: #131313;
  height: 100vh;
}

.matter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 112px;
  color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  width: auto;
  margin-top: 10px;
  padding-left: 5px;
}

@media screen and (max-width: 780px) {
  .logo-image {
    height: 90px;
    width: 190px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 781px) {
  .logo-image {
    height: 120px;
    width: 220px;
    border-radius: 5px;
  }
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: white;
}

.slick_name {
  color: #ffffff;
  font-size: 22px;
}

.loader-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.slick_section {
  padding: 40px;
  width: 90vw;
}
