.main {
  background-image: url('https://res.cloudinary.com/dxauist1a/image/upload/v1698116932/netfilx_1_aidhn1.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  width: 180px;
  height: 52px;
  align-items: flex-start;
}

.err {
  color: red;
}
.cont {
  color: #ffffff;
  width: 456px;
  height: 440px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}
