.popular {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80vh;
  overflow: scroll;
}

.errView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main-popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;

  height: 100vh;
}

.thumbnail {
  width: 20vw;
  height: 200px;
  margin: 10px;
}
